.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@font-face {
    font-family: 'Sclate';
    src: url('../fonts/Sclate.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans-Heavy.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.border6Darkslateblue{
    border: 6px solid darkslateblue;
    border-radius: 10px;
}

.border3Darkslateblue{
    border: 3px solid darkslateblue;
    border-radius: 10px;
}

.boxShadow{
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.7);
    background-color: white;
}
