.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 300px;
}
@font-face {
    font-family: 'Sclate';
    src: url('fonts/Sclate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/FiraSans-Heavy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.border6Darkslateblue{
    border: 6px solid darkslateblue;
    border-radius: 10px;
}

.border3Darkslateblue{
    border: 3px solid darkslateblue;
    border-radius: 10px;
}

.boxShadow{
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.7);
    background-color: white;
}
