.mainImage{
    background-image: url('resources/ai-chatbot-seamless-pattern-design-artificial-intelligence-repeat-background-template-wrapping_607579-515.jpg');
    background-position: center;
    background-repeat: repeat;
}

